POSTGRES_DB=integrationdb
POSTGRES_USER=integration_user
POSTGRES_PASSWORD=integration_pass
POSTGRES_HOST=postgres
POSTGRES_PORT=5432

GATEWAY_PORT=8000
TRANSFORMER_PORT=8100
INTERNAL_API_PORT=8200
AUDIT_API_PORT=8300

TRANSFORMER_URL=http://transformer:8100/transform
INTERNAL_API_URL=http://internal-api-mock:8200/legacy/orders
